<p>
  Pipes sendiri memiliki beberapa function, tetapi disini saya hanya
  mencantumkan yang menurut saya paling sering di gunakan :
</p>

<ul>
  <li>
    DatePipe => untuk merubah format tanggal dari database dan ingin di
    sesuaikan di frontend nya
  </li>

  <li>
    KeyValue => jika kita ingin melakukan loop data dan ternyata antara key dan
    nilainya sama, kita bisa meanfaatkan ini
  </li>

  <li>
    TitleCasePipe => jika kita ingin menampilkan text ke frontend menjadi "
    Makanan Adalah Makanan "
  </li>

  <li>
    SlicePipe => ini fungsinya untuk melakukan slice data dari sebuah array
  </li>

  <li>PercentPiep => mengubah nilai desimal ke dalam persen</li>

  <li>CurrencyPipe => memberikan matauang</li>
</ul>
